In [6]:
# Importing Libraries
import selenium
import pandas as pd
import numpy as np
import time
from bs4 import BeautifulSoup
import requests
import re
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chromium import service
from selenium.webdriver.support.ui import WebDriverWait
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

## Web Scrapping - Amazon

In [7]:
# connecting to web drivers and open url
service = Service(r'C:\Users\user\Desktop\chromedriver_win32\chromedriver.exe')
service.start()

driver = webdriver.Remote(service.service_url)

keyword ='https://www.amazon.in/'
driver.get(keyword)

**Smart phones**

In [8]:
#searching for "smartphones"
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("smartphones")
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [9]:
#empty list to store all URLs of smartphones
product_url =[]

In [10]:
product_url_tag = driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")

In [11]:
# url of smartphones are appended to the the list
for u in product_url_tag:
    try: 
        product_url.append(u.get_attribute("href"))
    except:
        product_url.append('-')

In [12]:
# an empty list to store all the urls of comment pages
rate_url = []

In [13]:
#collects all the urls of 1 star - 5 star comment pages.

for i in product_url:
    driver.get(i)
    time.sleep(3)
    try:
        url_tag5 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 5star']")
        rate_url.append(url_tag5.get_attribute("href"))
    except:
        pass
    try:
        url_tag4 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 4star']")
        rate_url.append(url_tag4.get_attribute("href"))
    except:
        pass
    try:
        url_tag3 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 3star']")
        rate_url.append(url_tag3.get_attribute("href"))
    except:
        pass
    try:
        url_tag2 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 2star']")
        rate_url.append(url_tag2.get_attribute("href"))
    except:
        pass
    try:
        url_tag1 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 1star']")
        rate_url.append(url_tag1.get_attribute("href"))
    except:
        pass

In [64]:
cmt = [] #empty list to store all comments
rate = [] #empty list to store all the ratings

In [65]:
#to get comments and ratings on 10 pages 
for i in rate_url:
    driver.get(i)
    for x in range(0,11):
        time.sleep(3)
        comment_tag = driver.find_elements(By.XPATH,"//span[@class='a-size-base review-text review-text-content']")
        rate_tag = driver.find_elements(By.XPATH,"//a[contains(@href,'/gp/customer-reviews/')]/i/span[1]")
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.get_attribute("innerHTML"))
            except:
                rate.append("-")
        try:
            nxtbtn = driver.find_element(By.XPATH,"//*[@id='cm_cr-pagination_bar']/ul/li[2]/a").click()
        except:
            pass
        #nxtbtn.click()

In [66]:
#to remove the "out of 5 stars" text and stores only the numbers in the Rate list
Rate=[]
for r in rate:
    Rate.append(r.replace(' out of 5 stars',''))

In [67]:
#creating a dataframe to store the comments and ratings
ratings_df = {'Comment':cmt,'Rating':Rate}

Rate_df1  = pd.DataFrame(ratings_df)

In [68]:
Rate_df1

                                                 Comment Rating
0      Reviewing after using it for last 3 days, boug...    5.0
1      I was using OnePlus 5t for last 3 years. Thoug...    5.0
2      Writing this review after 3 months of usage. W...    5.0
3      For the price of 48k, I see this device as the...    5.0
4      Just loved it. It offers unbelievably everythi...    5.0
...                                                  ...    ...
11247  Please don't buy this phone it has hearing spe...    1.0
11248  i already have Redmi 10pro, now i go to higher...    1.0
11249  I did not like this product and i want to retu...    1.0
11250  You can't connect call conference, its gone ha...    1.0
11251  Bad, poor, patetic, 🤬🤬🤬🤬 Product and services ...    1.0

[11252 rows x 2 columns]

In [71]:
# saving the data in excel file
Rate_df1.to_excel('smartphones1.xlsx')

**Laptops**

In [73]:
#searching for "laptops"
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys("laptops")
search = driver.find_element(By.XPATH,'/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input')
search.click()

In [74]:
#empty list to store all URLs of laptops
product_url =[]

In [75]:
product_url_tag = driver.find_elements(By.XPATH,"//a[@class='a-link-normal s-underline-text s-underline-link-text s-link-style a-text-normal']")

In [76]:
# url of laptops are appended to the the list
for u in product_url_tag:
    try: 
        product_url.append(u.get_attribute("href"))
    except:
        product_url.append('-')

In [77]:
# an empty list to store all the urls of the comment pages
rate_url = []

In [78]:
#collects all the urls of 1 star - 5 star comment pages.

for i in product_url:
    driver.get(i)
    time.sleep(3)
    try:
        url_tag5 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 5star']")
        rate_url.append(url_tag5.get_attribute("href"))
    except:
        pass
    try:
        url_tag4 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 4star']")
        rate_url.append(url_tag4.get_attribute("href"))
    except:
        pass
    try:
        url_tag3 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 3star']")
        rate_url.append(url_tag3.get_attribute("href"))
    except:
        pass
    try:
        url_tag2 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 2star']")
        rate_url.append(url_tag2.get_attribute("href"))
    except:
        pass
    try:
        url_tag1 = driver.find_element(By.XPATH,"//a[@class='a-link-normal 1star']")
        rate_url.append(url_tag1.get_attribute("href"))
    except:
        pass

In [79]:
cmt = [] #empty list to store all comments
rate = [] #empty list to store all the ratings

In [80]:
# to get comments and ratings on 10 pages
for i in rate_url:
    driver.get(i)
    for x in range(0,11):
        time.sleep(3)
        comment_tag = driver.find_elements(By.XPATH,"//span[@class='a-size-base review-text review-text-content']")
        rate_tag = driver.find_elements(By.XPATH,"//a[contains(@href,'/gp/customer-reviews/')]/i/span[1]")
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.get_attribute("innerHTML"))
            except:
                rate.append("-")
        try:
            nxtbtn = driver.find_element(By.XPATH,"//*[@id='cm_cr-pagination_bar']/ul/li[2]/a").click()
        except:
            pass
        #nxtbtn.click()

In [81]:
# to remove the "out of 5 stars" text and stores only the numbers in the Rate list
Rate=[]
for r in rate:
    Rate.append(r.replace(' out of 5 stars',''))

In [82]:
#creating a dataframe to store the comments and ratings
ratings_df = {'Comment':cmt,'Rating':Rate}

Rate_df2  = pd.DataFrame(ratings_df)

In [83]:
Rate_df2

                                                Comment Rating
0     Very Good ... Performance as well quality wise...    5.0
1     Very Good ... Performance as well quality wise...    5.0
2     Very Good ... Performance as well quality wise...    5.0
3     Very Good ... Performance as well quality wise...    5.0
4     Very Good ... Performance as well quality wise...    5.0
...                                                 ...    ...
6460  Within few days of usage DisplayPort over USB ...    1.0
6461    One of the worst product I received from Amazon    1.0
6462  The product is flickering and heating bad whil...    1.0
6463  light weight, good to carry between home and o...    1.0
6464  battery is very worst its not even giving 3 hr...    1.0

[6465 rows x 2 columns]

In [84]:
# saving the data in excel file
Rate_df2.to_excel('laptops1.xlsx')

## Web scraping - Flipkart

In [156]:
# connecting to web drivers and open url
service = Service(r'C:\Users\user\Desktop\chromedriver_win32\chromedriver.exe')
service.start()

driver = webdriver.Remote(service.service_url)

keyword = 'https://www.flipkart.com/'
driver.get(keyword)

**Smart watches**

In [140]:
#searching for "Smart watches"
search = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('Smart watches')
searchbtn = driver.find_element(By.CLASS_NAME,'L0Z3Pu').click()

In [141]:
#empty list to store all URLs of smartwatches 
product_url = []

In [142]:
# url of each smartwatch is appended to the the list
url_tag = driver.find_elements(By.XPATH,"//a[@class='_1fQZEK']")
for u in url_tag:
     product_url.append(u.get_attribute("href"))

In [143]:
revurl=[] # an empty list to store all the urls of the review section of the products

In [145]:
# url of review section of each product is appended to the the list
for i in product_url:
    driver.get(i)
    time.sleep(1)
    try:
        rev_tag = driver.find_element(By.XPATH,"//*[@class='col JOpGWq']/a")
        revurl.append(rev_tag.get_attribute("href"))
    except:
        pass

In [146]:
cmt = [] # an empty list to store all of the comment
rate = [] # an empty list to store all the ratings
revpgurl=[] # an empty list to store all the urls of the pages containing reviews

In [147]:
#the url of each comment page is appended to the the list
for i in revurl:
    driver.get(i)
    time.sleep(2)
    
              
    revpg=driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
    for n in revpg:
        revpgurl.append(n.get_attribute("href"))

In [149]:
#all the comments and ratings are collected
for j in revpgurl:
        driver.get(j)
        time.sleep(3)
        comment_tag = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div")
        rate_tag = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.text)
            except:
                rate.append("-")

In [151]:
len(cmt)

1378

In [152]:
len(rate)

1025

In [153]:
ratingsdf3 = {'Comment':cmt[0:1025],'Rating':rate[0:1025]}

Rate_df3  = pd.DataFrame(ratingsdf3) #creating dataframe of reviews and ratings

In [154]:
Rate_df3

                                                Comment Rating
0     I have purchased the watch. There is no accura...      5
1     For 2000 you are getting a good looking watch ...      5
2     Very osm smart watch and good quality☺️☺️..i l...      4
3     Nice smartwatch in this range but not loaded w...      5
4     That's good for normal or basic activities lik...      5
...                                                 ...    ...
1020                  Good quality for this smart watch      5
1021                                               Good      4
1022                            This is a nice produced      5
1023  Value for money beautiful Smartwatch in quick ...      5
1024  Don't buy it's not work 2 times I returned 2 T...      5

[1025 rows x 2 columns]

In [155]:
# saving the data in excel file
Rate_df3.to_excel('smart_watches1.xlsx')

**Smart TV**

In [157]:
#searching for "Smart tv"
search = driver.find_element(By.XPATH,'/html/body/div/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input')
search.send_keys('Smart tv')
searchbtn = driver.find_element(By.CLASS_NAME,'L0Z3Pu').click()

In [158]:
#empty list to store all URLs of smartphone products
product_url = []

In [159]:
# url of each smartphone is appended to the the list
url_tag = driver.find_elements(By.XPATH,"//a[@class='_1fQZEK']")
for u in url_tag:
     product_url.append(u.get_attribute("href"))

In [160]:
revurl=[] # an empty list to store all the urls of the review section of the products

In [161]:
#to get url of review section of each product is appended to the the list
for i in product_url:
    driver.get(i)
    time.sleep(1)
    try:
        rev_tag = driver.find_element(By.XPATH,"//*[@class='col JOpGWq']/a")
        revurl.append(rev_tag.get_attribute("href"))
    except:
        pass

In [162]:
cmt = [] # an empty list to store all of the comment
rate = [] # an empty list to store all the ratings
revpgurl=[] # an empty list to store all the urls of the pages containing reviews

In [163]:
#to get url of each comment page is appended to the the list
for i in revurl:
    driver.get(i)
    time.sleep(2)
    
              
    revpg=driver.find_elements(By.XPATH,"//a[@class='ge-49M']")
    for n in revpg:
        revpgurl.append(n.get_attribute("href"))

In [164]:
#all the comments and ratings are collected
for j in revpgurl:
        driver.get(j)
        time.sleep(3)
        comment_tag = driver.find_elements(By.XPATH,"//div[@class='t-ZTKy']/div/div")
        rate_tag = driver.find_elements(By.XPATH,"//div[@class='_3LWZlK _1BLPMq']")
    
        for k in comment_tag:
            try:
                cmt.append(k.text.replace("\n"," "))
            except:
                cmt.append("-")
        for r in rate_tag:
            try:
                rate.append(r.text)
            except:
                rate.append("-")

In [165]:
len(cmt)

1908

In [166]:
len(rate)

1727

In [167]:
ratingsdf4 = {'Comment':cmt[0:1727],'Rating':rate[0:1727]}

Rate_df4  = pd.DataFrame(ratingsdf4) #creating dataframe of reviews and ratings

In [168]:
Rate_df4

                                                Comment Rating
0     Great deal on this product.....😇 Budget worth ...      5
1                      Super quality sound is very good      5
2     Very good for the price.....no support for net...      5
3      Don't work properly Software issue in three days      3
4     it does not have bluetooth connectivity!!! thi...      5
...                                                 ...    ...
1722                                             Osm TV      3
1723                                              Super      4
1724  All are good but only sound quality is not so ...      5
1725                 Software Optimisation is very poor      4
1726                              Best quality products      5

[1727 rows x 2 columns]

In [169]:
# saving the data in excel file
Rate_df4.to_excel('smart_tv1.xlsx')

In [170]:
# to concate all scarpped data as single data set
df = pd.concat([Rate_df1,Rate_df2,Rate_df3,Rate_df4],ignore_index=True)

In [171]:
df

                                                 Comment Rating
0      Reviewing after using it for last 3 days, boug...    5.0
1      I was using OnePlus 5t for last 3 years. Thoug...    5.0
2      Writing this review after 3 months of usage. W...    5.0
3      For the price of 48k, I see this device as the...    5.0
4      Just loved it. It offers unbelievably everythi...    5.0
...                                                  ...    ...
20464                                             Osm TV      3
20465                                              Super      4
20466  All are good but only sound quality is not so ...      5
20467                 Software Optimisation is very poor      4
20468                              Best quality products      5

[20469 rows x 2 columns]